# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*backups*
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-bak
*.kicad_prl


# Build artifacts
gerbers/
dxf/
images/
*.zip